@import 'reset', 'font';

body{
    background: #181818;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.greeting {
    h2 {
        font-size: 27px;
        font-weight: 100;
        color: white;
        margin-bottom: 25px;
    }
}

.attributes {
    border-radius: 6px;
    display: flex;
    margin-bottom: 35px;

    .authorization {
        margin-right:20px;

        a {
            background: #b88928;
            border-radius: 3px;
            padding: 12px 21px;
            display: inline-block;
            position: relative;

            svg {
                width: 18px;
                height: 19px;
                position: absolute;
                left: 13px;
                top: 9px;
            }

            span {
                color: #fff;
                font-size:14px;
                padding-left:20px;
            }
        }
    }

    .profile {
        ul {
            padding-top:4px;
            display: flex;

            li {
                padding-right: 15px;
                margin-right:15px;
                border-right: 1px solid #252525;

                &:last-child {
                    border-right:0;
                }

                small {
                    display: block;
                    font-size: 13px;
                    color: #504d41;
                    font-weight: 300;
                    margin-bottom: 3px;
                }

                span {
                    display: block;
                    font-size: 14px;
                    color: #ffffff;
                }
            }
        }
    }
}

table {
    margin-top: 8px;
    background: #242424;
    min-height: 60px;
    font-size: 13px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 40px;
    border: 0 !important;

    thead {
        th {
            padding: 0 !important;
            display: table-cell;
            background: #2a2a2a;
            color: #deb156;
            border-right: 1px solid #252525;
            height: 54px;
            vertical-align: middle;

            &:first-child {
                > div {
                    width: 57px;
                    padding-left: 8px;
                }
            }

            div {
                padding: 22px 12px;
                display: block;
                line-height: 19px;
                font-weight: 400;
                font-size: 14px;
                height: 54px;
                align-items: center;
                display: flex;
            }
        }
    }
}

.figures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 70px;

    > div {
        background: #fefdf7;
        border-radius: 6px;
        padding-top:25px;
        padding-bottom:30px;
    }

    .median-number-of-viewers small {
        height: 36px;
    }

    .question {
        small {
            font-size: 14px;
            width: 90%;
            display: block;
            line-height: 18px;
            color: #989898;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 23px;
            margin-top: 18px;
            display: block;
            letter-spacing: 0.04em;
            font-weight: 100;
        }
    }

    .answer {
        span {
            font-size: 54px;
            color: #000000;
            font-weight: 100;
            text-align: center;
            display: block;
        }
    }
}

.paging_simple_numbers {
    .pagination {
        display: table;
        border-radius: 6px;
        margin: 0 auto 50px;
        padding: 6px;
    }
}

.select-this {
    width: 40px;
    text-align: center;

    input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        transform: scale(1);
        display: inline-block;
        width: 21px;
        height: 20px;
        background-color: #353535;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        transition: .1s ease;
    }
}

.select-all {
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        transform: scale(1);
        display: inline-block;
        width: 21px;
        height: 20px;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        transition: .1s ease;
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
        transition: none!important;
        position: relative;
        z-index: 3;
        background: #595443 !important;
        box-shadow: none!important;
    }
}

input[type=checkbox]:checked {
    background: #cf9825;
}

input[type=checkbox]:checked:before {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 6px;
}

.stats {
    td span {
        font-weight: 400;
        font-size: 14px;
        font-family: Decent;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 18px;
        color: #c1c1c1;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .grouped {
        display: grid;
        grid-template-columns: 392px 392px 392px;
        grid-gap: 12px;
        margin-bottom: 50px;

        .question{
            margin-bottom:20px;

            small {
                font-size: 14px;
                width: 150px;
                display: block;
                line-height: 18px;
                color: #ffcc61;
                font-weight: 100;
                letter-spacing: 0.02em;
            }
        }

        .answer {
            background: #1c1c1c;
            border-radius: 5px;
            box-shadow: 0 3px 9px 0 rgb(25 35 49 / 5%);
        }

        ul {
            height: 659px;
            overflow-y: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar-thumb:hover {
                background-color: #333;
            }

            &::-webkit-scrollbar-thumb {
                border: solid 1px #40404000;
                border-radius: 4px;
                background-color: #6e6b60;
            }

            &::-webkit-scrollbar-track {
                border: solid 7px #242424;
                border-radius: 12px;
                background-color: #0b0b0b;
            }

            &::-webkit-scrollbar {
                width: 6px;
            }

            li {
                height: 55px;
                font-size: 14px;
                color: #303030;
                padding: 14px;
                padding-top: 13px;
                padding-left: 15px;
                vertical-align: middle;
                position: relative;

                &:nth-child(1){
                    border-top-left-radius: 6px;
                    background: #2d2d2d;
                }

                &:nth-child(2){
                    background: #262626;
                }

                &:nth-child(3){
                    background: #212121;
                }

                &:hover {
                    background: #2a2a2a;
                }

                .primary {
                    display: flex;

                    h6 {
                        color: #c1c1c1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    span {
                        padding-right: 6px;
                        color: #ebba1e;
                        font-size: 15px;
                        left: 0px;
                        top: -1px;
                        position: relative;
                    }
                }

                .secondary {
                    margin-top: 4px;

                    small {
                        font-weight: 100;
                        color: #6e6a5d;
                        font-size: 12px;
                        letter-spacing: 0.02em;
                    }

                    ins {
                        padding-left: 3px;
                        color: #b8b8b8;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .individual {
        .question{
            margin-bottom:20px;

            small {
                font-size: 14px;
                width: 250px;
                display: block;
                line-height: 18px;
                color: #ffcc61;
                font-weight: 100;
                letter-spacing: 0.02em;
            }
        }
    }
}

.streams-by-nearest-hours .question small {
    width:250px !important;
}
